{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Card Search{% endblock %}

{% block body %}
    <div class="main white container">

        <div class="row">

            <div class="col-md-3">
                <h2>{{ 'search.setbrowse' | trans }}</h2>
                <ol>
                    {% for expansion in cards_data.allsetsdatathreaded() %}
                        <li><a href="{{ expansion['url'] }}">{{ expansion['label'] }}</a></li>
                    {% endfor %}
                </ol>
            </div>

            <div class="col-md-9">

                <h1>{{ block('title') }}</h1>
                <form method="GET" action="{{ path('cards_processSearchForm') }}" role="form" style="margin-bottom:2em">

                    <fieldset>
                        <legend>{{ 'search.nametexts' | trans }}</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="q">{{ 'card.info.name' | trans }}</label>
                                    <div>
                                        <input class="form-control" size="30" id="q" name="q" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="x">{{ 'card.info.text' | trans }}</label>
                                    <div>
                                        <input class="form-control" size="40" id="x" name="x" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="c">{{ 'card.info.clarification_text' | trans }}</label>
                                    <div>
                                        <input class="form-control" size="40" id="c" name="c" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="a">{{ 'card.info.flavor' | trans }}</label>
                                    <div>
                                        <input class="form-control" size="30" id="a" name="a" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'card.info.faction' | trans }}</legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        {% for faction in factions %}
                                            <label class="btn btn-default active" title="{{ faction.name }}"
                                                   data-toggle="tooltip" data-container="body">
                                                <input type="checkbox" name="f[]" checked value="{{ faction.code }}">
                                                <span class="icon icon-{{ faction.code }}"></span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'search.attributes' | trans }}</legend>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="e">{{ 'card.info.set' | trans }}</label>
                                    <div>
                                        <select class="form-control" name="e" id="e">
                                            <option value="">{{ 'search.any' | trans }}</option>
                                            {% for expansion in expansions %}
                                                <option value="{{ expansion.code }}">{{ expansion.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="t">{{ 'card.info.type' | trans }}</label>
                                    <div>
                                        <select class="form-control" name="t" id="t">
                                            <option value="">{{ 'search.any' | trans }}</option>
                                            {% for type in types %}
                                                <option value="{{ type.code }}">{{ type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'search.numerics' | trans }}</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="o">{{ 'card.info.fight' | trans }}</label>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <select name="fo" id="fo" class="form-control"> ;
                                                <option value=":">=</option>
                                                <option value="<">&lt;</option>
                                                <option value=">">&gt;</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-8">
                                            <input id="f" name="f" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="s">{{ 'card.info.shoot' | trans }}</label>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <select name="so" id="so" class="form-control">
                                                <option value=":">=</option>
                                                <option value="<">&lt;</option>
                                                <option value=">">&gt;</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-8">
                                            <input id="s" name="s" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="s">{{ 'card.info.armor' | trans }}</label>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <select name="ao" id="ao" class="form-control">
                                                <option value=":">=</option>
                                                <option value="<">&lt;</option>
                                                <option value=">">&gt;</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-8">
                                            <input id="a" name="a" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="v">{{ 'card.info.value' | trans }}</label>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <select name="vo" id="vo" class="form-control">
                                                <option value=":">=</option>
                                                <option value="<">&lt;</option>
                                                <option value=">">&gt;</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-8">
                                            <input id="v" name="v" value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'search.other' | trans }}</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{ 'search.previews' | trans }}</label>
                                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                                        <label class="btn btn-default active"><input type="radio" name="r" checked
                                                                                     value="">{{ 'search.yes' | trans }}
                                        </label>
                                        <label class="btn btn-default"><input type="radio" name="r"
                                                                              value="<now">{{ 'search.no' | trans }}
                                        </label>
                                        <label class="btn btn-default"><input type="radio" name="r"
                                                                              value=">now">{{ 'search.only' | trans }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="i">{{ 'card.info.illustrator' | trans }}</label>
                                    <div>
                                        <select class="form-control" name="i" id="i">
                                            <option value="">{{ 'search.any' | trans }}</option>{% for illustrator in illustrators %}
                                            <option value="{{ illustrator }}">{{ illustrator }}</option>{% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{{ 'search.submit' | trans }}</legend>
                        <div class="row">
                            <div class="form-group">
                                {% include 'AppBundle:Search:searchoptions.html.twig' %}
                                <div class="col-sm-4">
                                    <button class="btn btn-primary" type="submit">{{ 'forms.search' | trans }}</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>

        </div>

    </div>
{% endblock %}
