{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block bodyattr %} class="front-page"{% endblock %}

{% block body %}

<div class="main container">
  <h1 class="site-title hidden-xs">DoomtrooperDB</h1>
  <h2 class="site-slogan">{{ 'slogan' | trans }}</h2>
</div> <!-- .container -->

<div class="main container">
  <div class="row">
    {% for data in decklists %}
    <div class="col-md-6 front-page-decklist" style="margin-bottom:30px">
      <div class="header">
        <h4 class="media-heading">
          <a href="{{ path('decklist_detail',{decklist_id:data.decklist.id,decklist_name:data.decklist.nameCanonical}) }}">{{ data.decklist.name }}</a>
        </h4>
        <div class="small">
          {% set username %}
          <span class="username">{{ macros.username_colorless(data.decklist.user) }}</span>
          {% endset %}
          {{ 'userby' | trans({'%user%': username}) | raw }}
          &middot;
          <time datetime="{{ data.decklist.dateCreation|date('c') }}">{{ data.decklist.dateCreation|date('M d, Y') }}</time>
          {{ macros.decklist_social_icons(data.decklist ) }}
        </div>
      </div>
      <div class="body">
        <p>{{ data.count_by_type|raw }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block javascripts %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "https://localhost/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://localhost/find/?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
{% endblock %}
